@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

pre, p {
    margin: 4px;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.drag_handle {
    width: 100%;
    height: 16px;
}

.file_viewport .file_button {
    margin: 1px;
    border: 1px solid;
    border-color: darkgrey grey grey darkgrey;
    border-radius: 4px;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    background: white;
}

.file_button * {
    margin: 4px;
}

.text_viewport {
    background: white;
}

.text_viewport, .image_viewport {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    overflow: scroll;
    border: 1px solid;
    border-color: darkgrey;
    border-radius: 2px;
}

.entity_viewport {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    overflow: scroll;
    flex-flow: column nowrap;
}

.section {
    border: 1px solid;
    border-color: darkgrey;
    border-radius: 2px;
    padding: 0.5em;
    margin: 0.25em;
}

#tabletop {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#g_context_menu {
    width: 160px;
    position: absolute;
    z-index: 10;
}

.file_viewport {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    overflow: scroll;
}

h1, h2, h3, h4, h5, h6, p, img, .unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 2px;
}

.window_button {
    width: 32px;
    height: 32px;
    margin: 4px;
}

.dnd_window {
    position: absolute;
    padding: 5px;
    margin: 0px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
}

.close_button {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 5px;
    right: 5px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.button_svg {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.button_display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.message_display {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.message_input {
    position: absolute;
    margin-top: 4px;
    font-family: monospace;
    width: calc(100% - 14px);
    background-color: transparent;
    border-color: transparent;
}

.message_suggestion {
    margin-top: 4px;
    font-family: monospace;
    position: absolute;
    width: calc(100% - 14px);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.opened_text {
    font-family: monospace;
}

.opened_text, .any_message {
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* IE10+/Edge */
    user-select: auto; /* Standard */
}

.any_message h5 {
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
    margin-right: 4px;
}

.any_message h4 {
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* IE10+/Edge */
    user-select: auto; /* Standard */
    margin-right: 4px;
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
}

.any_message p {
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* IE10+/Edge */
    user-select: auto; /* Standard */
    display: inline;
    font-family: 'Nunito Sans', sans-serif;
}

.received_message {
    border: grey solid 1px;
    background: white;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
}

.error_message {
    font-style: italic;
    color: red;
}

.system_message {
    font-style: italic;
    color: grey;
}

.window_title {
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'El Messiri', sans-serif; */
}

/* Themes */

div#watermark {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url('/res/dnd/ampersand.svg') center center no-repeat;
    background-size: contain;
    pointer-events: none;
}

div#background {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: none center center repeat;
}

#watermark.fantasy {
    filter: drop-shadow(4px 4px 6px black);
}

#watermark.tech {
    filter: saturate(0) drop-shadow(4px 4px 6px black)
}

#watermark.icy {
    filter: hue-rotate(247deg) brightness(2.64) saturate(0.3) drop-shadow(4px 4px 6px black);
}


#background.fantasy {
    background-image: url('/res/dnd/fantasy.png');
}

#background.tech {
    background-image: url('/res/dnd/tech.svg');
}

#background.icy {
    background-image: url('/res/dnd/icy.png');
}
