
@font-face {
    font-family: 'DwarfRunes';
    font-display: block;
    src: url(../assets/fonts/DwarfRunes.ttf);
}
.dwarf-runes {
    font-family: 'DwarfRunes', sans-serif;
}

@font-face {
    font-family: 'ElfRunes';
    font-display: block;
    src: url(../assets/fonts/ElfRunes.ttf);
}
.elf-runes {
    font-family: 'ElfRunes', sans-serif;
}

@font-face {
    font-family: 'FeyRunes';
    font-display: block;
    src: url(../assets/fonts/FeyRunes.ttf);
}
.fey-runes {
    font-family: 'FeyRunes', sans-serif;
}

@font-face {
    font-family: 'DraconicRunes';
    font-display: block;
    src: url(../assets/fonts/DraconicRunes.ttf);
}
.draconic-runes {
    font-family: 'DraconicRunes', sans-serif;
}

@font-face {
    font-family: 'OrcRunes';
    font-display: block;
    src: url(../assets/fonts/OrcRunes.ttf);
}
.orc-runes {
    font-family: 'OrcRunes', sans-serif;
}

@font-face {
    font-family: 'TabaxiRunes';
    font-display: block;
    src: url(../assets/fonts/TabaxiRunes.ttf);
}
.tabaxi-runes {
    font-family: 'TabaxiRunes', sans-serif;
}

@font-face {
    font-family: 'TritonRunes';
    font-display: block;
    src: url(../assets/fonts/TritonRunes.ttf);
}
.triton-runes {
    font-family: 'TritonRunes', sans-serif;
}
