@use 'fonts';

// Variables
$font-primary: 'Noto Sans', sans-serif;
$font-accent: 'Prompt', sans-serif;
$font-color-primary: #f1f1f1;
$font-color-shadow: #7c7c7c;
$font-color-accent: #bde1ff;
$light-primary: #444444;
$light-highlight: #5c5c5c;
$light-accent: #407abd;
$light-accent-highlight: #4989d1;
$dark-primary: #222222;
$dark-highlight: #333333;
$dark-accent: #1f3c5e;
$dark-accent-highlight: #284d77;

// Mixins
@mixin no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@mixin no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@mixin cursor-standard {
    cursor: url("../assets/cursors/standard.svg"), auto;
}

@mixin cursor-pointer {
    cursor: url("../assets/cursors/pointer.svg") 7 0, pointer;
}

@mixin cursor-text {
    cursor: url("../assets/cursors/text.svg") 0 12, text;
}

// Rules
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: $light-accent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: $light-accent-highlight;
}

* {
    @include cursor-standard;
    @include no-drag;
    @include no-select;
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    color: $font-color-primary;
}

html, body {
    height: 100%;
    width: 100%;
}

body, #root, #desktop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: $font-accent;
}

input {
    color: black;
}

input[type="text"], input[type="password"] {
    @include cursor-text;
}

textarea {
    @include cursor-text;
    color: black;
    resize: none;
    font-family: monospace;
    padding: 2px;
}

#root, #desktop {
    position: absolute;
    height: 100%;
    width: 100%;
}

#login {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .button {
        background: $dark-highlight;
        border-radius: 8px;
        padding: 4px;
        box-shadow: 0 0 4px #00000080;
    }

    .button:hover {
        box-shadow: 0 0 4px $light-accent-highlight;
    }

    .field {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 4px;
        .label {
            margin: 0 4px;
            min-width: 80px;
            text-align: right;
        }
    }
}

#context-menu {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    width: fit-content;
    min-width: 160px;
    z-index: 10;
    box-shadow: 0 0 12px #00000080;
    background-color: $dark-highlight;
    border-radius: 4px;
    padding-bottom: 8px;

    .title {
        font-family: $font-accent;
        padding: 0 4px;
    }

    .option {
        padding: 4px 12px;
        background-color: $light-primary;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .shortcut {
            color: $font-color-shadow;
        }
    }

    .option:hover {
        background-color: $light-accent;

        .shortcut {
            color: $font-color-primary;
        }
    }
}

.logo {
    height: 128px;
    width: 128px;
}

.button {
    @include cursor-pointer;
    i, span {
        pointer-events: none;
        color: $light-accent;
    }

    span {
        margin: 4px;
    }
}

.button:hover {
    i, span {
        color: $light-accent-highlight;
    }
}

.react-resizable-handle {
    position: absolute;
}

.react-resizable-handle-se {
    height: 24px;
    width: 24px;
    bottom: 0;
    right: 0;
    background: url(../assets/images/handle.png);
    cursor: se-resize;
}

#windows {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.window {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    background-color: $light-primary;
    height: fit-content;
    width: fit-content;
    box-shadow: 0 0 12px #00000080;

    .title-bar {
        flex: 0;
        display: flex;
        background-color: $dark-highlight;
        padding: 0 2px;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .title {
            font-family: "Prompt", sans-serif;
            flex: 1;
        }

        .button {
            flex: 0;
            margin: 2px;
        }
    }

    .viewport {
        padding: 2px;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: stretch;
    }
}

.chat.window {
    .messages {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;

        .message {
            display: flex;
            flex-flow: column nowrap;
            padding: 4px;
            background: $dark-primary;
            margin: 4px;
            border-radius: 8px;

            .header {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                * {
                    color: $font-color-shadow;
                    font-weight: bold;
                }
            }

            .content {
                overflow-wrap: break-word;
            }
        }
    }

    .input-section {
        display: flex;
        flex-flow: column nowrap;

        textarea {
            flex: 1;
            margin: 4px;
            height: 4em;
        }

        .button {
            flex: 0;
            background: $dark-primary;
            border-radius: 8px;
            padding: 4px;
            margin: 2px;
            box-shadow: 0 0 4px #00000080;
        }

        .button:hover {
            box-shadow: 0 0 4px $light-accent-highlight;
        }

        .compose-area {
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 4px;
            align-items: center;
        }
    }
}
