// Variables
$font-primary: 'Raleway', sans-serif;
$font-accent: 'Prompt', sans-serif;
$font-color-primary: #f1f1f1;
$font-color-accent: #bde1ff;
$light-primary: #444444;
$light-highlight: #5c5c5c;
$light-accent: #407abd;
$dark-primary: #222222;
$dark-highlight: #333333;
$dark-accent: #1f3c5e;

// Mixins
@mixin no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@mixin no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

// Element Rules
* {
    cursor: url("../assets/cursors/standard-cursor.svg"), auto;
    @include no-drag;
    @include no-select;
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    color: $font-color-primary;
}

html, body {
    height: 100%;
    width: 100%;
}

body, #root, #desktop {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: $font-accent;
}

// Class Rules
.logo {
    height: 128px;
    width: 128px;
}

// Id Rules
#root, #desktop {
    position: absolute;
    height: 100%;
    width: 100%;
}

#context-menu {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    width: fit-content;

    .option {
        padding: 4px;
        background-color: $light-primary;
        border-bottom: 2px solid $dark-highlight;
    }

    .option:hover {
        background-color: $light-accent;
    }
}
