::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #52606970;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4989d170;
}

* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    color: #d5dde2;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #172027;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    cursor: auto;
    color: black;
    resize: none;
    font-family: monospace;
    padding: 2px;
}

.info-toast {
    color: white;
    text-shadow: 2px 2px #222222;
    background-color: #09406d;
    background: linear-gradient(135deg, #135f9c, #0d4b7e);
}

.warning-toast {
    color: white;
    text-shadow: 2px 2px #222222;
    background-color: #9c5f19;
    background: linear-gradient(135deg, #b96d25, #9c5f19);
}

.error-toast {
    color: white;
    text-shadow: 2px 2px #222222;
    background-color: #800000;
    background: linear-gradient(135deg, #9c0b0b, #790303);
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
