* {
    color: white;
}

input {
    color: black;
}

#login {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.logo {
    margin: 4px;
    width: 50%;
    height: 50%;
}

.button {
    background-color: #333333;
    border-radius: 8px;
    padding: 4px;
    box-shadow: 0 0 4px #00000080;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0 4px #4989d1;
}

.field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 4px;
}

.label {
    margin: 0 4px;
    min-width: 80px;
    text-align: right;
}
