.Generic.sheet {
    display: flex;
    flex-flow: column nowrap;
    padding: 4px;
}

.Generic.sheet .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
}

.Generic.sheet .header img {
    width: 48px;
    height: 48px;
}

.Generic.sheet .region {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Generic.sheet .field {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.Generic.sheet .field input {
    flex: 1;
    width: 64px;
    padding-left: 2px;
}

.Generic.sheet .field input.number {
    width: 48px;
    max-width: 48px;
}

.Generic.sheet .label {
    text-wrap: nowrap;
    margin-right: 2px;
}

.Generic.sheet textarea.description {
    margin: 0px 4px;
    height: 24em;
}
