.Lightbearer.sheet {
    display: flex;
    flex-flow: column nowrap;
    padding: 4px;
}

.Lightbearer.sheet .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
}

.Lightbearer.sheet .header img {
    width: 48px;
    height: 48px;
}

.Lightbearer.sheet .region {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.Lightbearer.sheet .field {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.Lightbearer.sheet .field input {
    flex: 1;
    width: 64px;
    padding-left: 2px;
}

.Lightbearer.sheet .field input.number {
    width: 48px;
    max-width: 48px;
    text-align: center;
    padding: 0;
}

.Lightbearer.sheet .label {
    text-wrap: nowrap;
    margin-right: 2px;
}

.Lightbearer.sheet textarea.description {
    height: 30em;
}

.Lightbearer.sheet h1 {
    text-align: center;
    font-size: 20px;
    margin-top: 16px;
}

.Lightbearer.sheet .stats .label {
    cursor: pointer;
}

.Lightbearer.sheet .stats .label:hover {
    color: #ddeeff;
    text-shadow: 0 0 10px #c6def8;
}

.Lightbearer.sheet .class-abilities,
.Lightbearer.sheet .race-abilities {
    display: flex;
    flex-flow: column nowrap;
    background-color: #42484d64;
    border-radius: 4px;
    margin: 4px;
    border: solid 1px #5b6e7978;
}

.Lightbearer.sheet .inventory {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Lightbearer.sheet .inventory .item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    border-bottom: 1px solid #ffffff60;
    height: 26px;
}

.Lightbearer.sheet .inventory .item i {
    margin: 2px;
}

.Lightbearer.sheet .inventory .item .name {
    flex: 1;
}

.Lightbearer .ability .bar {
    display: flex;
    margin: 4px;
    padding: 4px;
    background: #00000024;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Lightbearer .ability .name.passive {
    font-style: italic;
}

.Lightbearer .ability .icons {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2px;
}

.Lightbearer .ability .icons .icon {
    margin: 0 2px;
}

.Lightbearer .ability .details {
    padding: 4px 16px;
}

.Lightbearer .ability .details.hidden {
    display: none;
}

.Lightbearer.rolls-fragment {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.Lightbearer.creator {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Lightbearer.creator h1 {
    margin: 4px;
    margin-top: 16px;
}

.Lightbearer.creator p {
    margin: 4px;
}

.Lightbearer.creator .ability {
    opacity: 60%;
    background: #00000036;
    padding: 2px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
}

.Lightbearer.creator .ability.selected {
    opacity: 100%;
    background: #00000036;
}

.Lightbearer.caption {
    padding: 4px;
    border-radius: 4px;
    background: #000000aa;
    display: flex;
    flex-flow: row wrap;
    max-width: 100px;
    justify-content: center;
    align-items: center;
}

.Lightbearer.caption .formula {
    flex: 100%;
    word-break: break-all;
    text-align: center;
}

.Lightbearer.caption .die {
    margin: 4px;
}

.entry-list .ability.entry .icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
